doctype html
html
    head 
        title Hacking Academy
        block script
        block style 
    
    body
        nav#navBar
                ul
                    div#logo 
                        img(src="/static/img/Logo/logo1.0.jpg", alt="", srcset="")
                        | MHA
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Services]
                    li #[a(href="/") Classes Info]
                    li #[a(href="/contact") Contact Us]
        block content
        footer#footer
            | Copyright © 2022 MyHackingAcademia.com | All rights reserved
